<h4 class="page-header">Editing team <small>#<%= @team.name %></small></h4>

<div class="col-xs-12 col-md-6">
  <%= render 'form' %>
  <%= link_to 'Back to team info', @team, class: 'btn btn-default btn-xs' %>
</div>
