<%= render partial: "shared/errors", locals: {errors: @form.errors, item: 'contest user'} %>

<h4>Contest users list</h4>

<% alert_tag class: 'alert-warning' do %>
  Save the account information now. <strong>Once you leave this page, the passwords will be lost forever.</strong>
<% end %>

<div class="row mb-3">
  <div class="col-md-6">
    <div class="card bg-light copy-group problem-copy-group">
      <h6 class="card-header">
        Account information (JSON)
        <button class="btn btn-secondary btn-xs float-end copy-group-btn">copy</button>
      </h6>
      <div class="card-body code-input copy-group-code"><pre><%= @data_json %></pre></div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card bg-light">
      <h6 class="card-header">
        Account information (CSV)
      </h6>
      <div class="card-body">
        <a href="data:text/plain;charset=utf-8,<%= @data_csv %>" download="accounts.csv" class="btn btn-success">Download CSV</a>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Back to contest registrations", contest_contest_registrations_path(@contest), class: 'btn btn-success' %>
</div>
