<h1>Editing announcement</h1>

<%= render "form", announcement: @announcement %>

<br>

<div>
  <%= link_to "Show this announcement", @announcement %> |
  <%= link_to "Back to announcements", announcements_path %>
</div>
