MYSQL_ROOT_PASSWORD=some_password
FETCH_KEY=some_random_string
SMTP_ADDRESS=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=email_username
SMTP_PASSWORD=email_password
MAIL_HOSTNAME=https://tioj.example.com
MAIL_SENDER=tioj@example.com

# ALLOW_REGISTER=allow
ALLOW_REGISTER=token_q1w2e2e3r4t5_somerandomtoken
