<div class="well well-lg">
  <%= render partial: 'comments/show_comment', locals: {post: @post, comment: @comment, count: nil, now_comment_path: @comment_path}  %>
</div>

<%= link_to 'Back', @page_path, class: "btn btn-default btn-xs" %>
