<% if status.nil? %>
  <span class="glyphicon glyphicon-remove text-danger<% unless text %> align-middle<% end %>"></span> <% if text %>Not registered<% end %>
<% elsif status %>
  <span class="glyphicon glyphicon-ok text-success<% unless text %> align-middle<% end %>"></span> <% if text %>Registered<% end %>
<% else %>
  <span class="glyphicon glyphicon-play text-warning<% unless text %> align-middle<% end %>"></span> <% if text %>Pending approval<% end %>
<% end %>
