<h4 class="page-header">Editing problem <small>#<%= @problem.id %></small></h4>

<%= render 'form' %>

<div class="mt-2">
  <%= link_to 'Show Problem', @problem, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Back to Problems List', problems_path, class: 'btn btn-secondary btn-sm' %>
</div>
