<% if errors.any? %>
  <% alert_tag class: 'alert-danger', dismissible: false do %>
    <strong><%= pluralize(errors.count, "error") %> prohibited this <%= item %> from being saved:</strong>
    <ul>
      <% errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>