<h4 class="page-header">New testdatum <small>Problem #<%= @problem.id%>. <%= @problem.name %></small></h4>

<%= render 'form' %>

<%= link_to 'Back to Testdata List', problem_testdata_path, class: 'btn btn-default btn-xs' %>