<h4 class="page-header">Editing submission <small>#<%= @submission.id %></small></h4>

<%= render 'form' %>

<%= link_to 'Show Submission', contest_adaptive_polymorphic_path([@submission]), class: 'btn btn-primary btn-xs' %>
<%= link_to 'Back to Submissions List', contest_adaptive_polymorphic_path([:submissions]), class: 'btn btn-default btn-xs' %>
