default: &default
  adapter: mysql2
  username: root
  password: somepassword
  socket: /var/run/mysqld/mysqld.sock
  encoding: utf8mb4
development:
  <<: *default
  database: tioj_dev
test:
  <<: *default
  database: tioj_test
production:
  <<: *default
  database: tioj_production
