shared:
  # Omit any section if the function is not needed

  # Password recovery settings
  mail_settings:
    smtp_settings: # SMTP server settings; it will be passed to config.action_mailer.smtp_settings
      address: smtp.example.com
      port: 587
      user_name: tioj@example.com
      password: some_password
      enable_starttls_auto: true
    url_options:
      host: https://tioj.example.com # the URL of the website, used to generate the link in the email
    sender: tioj@example.com # email sender

  # Sentry settings
  sentry_dsn: https://xxxxxxx@xxxx.ingest.sentry.io/xxxx # copy from your sentry project
  sentry_sample_rate:
    normal: 0.002
    cable: 0.001

  # Sign up settings (default: false)
  disable_registration: false

  # Old submission views (default: false)
  old_submission_views: false

  # Username & team name settings (these two sections show the default values)
  # These are only checked when a new user or team is created. Existing users / teams won't
  # be checked.
  username_settings:
    min_length: 3
    max_length: 20
    # If false, only allow /[A-Za-z][A-Za-z0-9_.\-]+/; otherwise, allow all names that
    # does not contain non-printable characters
    # Note: For username specifically (does not apply to team names), purely numeric names,
    # names containing slashes, "sign_in" and "sign_up" are additionally banned
    allow_unicode: false
  team_name_settings:
    min_length: 1
    max_length: 50
    allow_unicode: true
    # Allow teams with duplicate names
    allow_duplicate: false

  # Team settings
  # These are only checked when users tries to join a team. Existing teams won't be checked.
  # Maximum members per team (default: 10)
  max_members_per_team: 10
  # Maximum teams per user (default: 20)
  max_teams_per_user: 20
