shared:
  # Omit any section if the function is not needed

  # Password recovery settings
  mail_settings:
    smtp_settings: # SMTP server settings; it will be passed to config.action_mailer.smtp_settings
      address: smtp.example.com
      port: 587
      user_name: tioj@example.com
      password: some_password
      enable_starttls_auto: true
    url_options:
      host: https://tioj.example.com # the URL of the website, used to generate the link in the email
    sender: tioj@example.com # email sender

  # Sentry settings
  sentry_dsn: https://xxxxxxx@xxxx.ingest.sentry.io/xxxx # copy from your sentry project
  sentry_sample_rate:
    normal: 0.002
    cable: 0.001

  # Sign up settings (default: false)
  disable_registration: false
  unicode_username: false

  # Old submission views (default: false)
  old_submission_views: false

  # Team settings
  # These are only checked when users tries to join a team. Existing teams won't be checked.
  # Maximum members per team (default: 10)
  max_members_per_team: 10
  # Maximum teams per user (default: 20)
  max_teams_per_user: 20
