<h4>Role: <%= @role.name %>
<p>
  <%# <strong>IP Address: </strong><%= @judge_server.ip %1> <br> %>
  <%# <strong>Secure Key: </strong><%= @judge_server.key %1> <br> %>
  <%= link_to 'Back', roles_path, :class => 'btn btn-default' %>
</p>
