[Unit]
Description=TIOJ Judge Client
After=syslog.target network.target

[Service]
Type=simple
StandardOut=syslog
StandardError=syslog
SyslogIdentifier=tioj-judge
ExecStart=/usr/bin/nice -n -10 tioj-judge -v
ExecStop=/bin/kill -s INT $MAINPID

[Install]
WantedBy=multi-user.target
