<h4 class="page-header">About Judge</h4>
<h5>Site Info</h5> 
<div class="well">
This site is powered by Ruby on Rails! <br >
TIOJ Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj">https://github.com/TIOJ-INFOR-Online-Judge/tioj</a>, <a href="https://github.com/adrien1018/tioj">https://github.com/adrien1018/tioj</a>, <a href="https://github.com/joshua5201/tioj">https://github.com/joshua5201/tioj</a> <br>
miku Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/miku">https://github.com/TIOJ-INFOR-Online-Judge/miku</a>, <a href="https://github.com/adrien1018/miku">https://github.com/adrien1018/miku</a>, <a href="https://github.com/silverneko/miku">https://github.com/silverneko/miku</a> <br>
Still in development, any issues or pull requests are welcomed. <br >
</div>
