<% set_page_title "About" %>
<h4 class="page-header">About ISCOJ <small>powered by TIOJ infor online judge</small></h4>
<h5>Site Info</h5>
<div class="well">
This site is powered by Ruby on Rails! <br >
TIOJ Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj">https://github.com/TIOJ-INFOR-Online-Judge/tioj</a> <br>
Judge System Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge">https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge</a> <br>
Still in development, any issues or pull requests are welcomed. <br >
</div>

<h4>Iscoj History</h4>
<h5>建北電資28屆（一四）</h5>
<div class="well">
在前任學術長AaW的協助下，一四學術世宗與網管晴架設了本OJ，並修改了部分介面以及將原先青島OJ的題目搬運到此OJ上。原有的青島OJ系統則正式退役，移到 <a href="https://fgiscoj.fg.tp.edu.tw">https://fgiscoj.fg.tp.edu.tw/</a> 網址上。
</div>

<h5>建北電資27屆（一三）</h5>
<div class="well">
在一三學術長 AaW 接手伺服器後的暑假，伺服器便出現了大幅當機狀況。由於當初架設紀錄幾乎沒有留下，AaW只能嘗試自行復原。<br>
在中間經歷停機風波之後，AaW以及北資一三成立的伺服器團隊將整台伺服器進行通盤檢查，並且將設定檔案補全，提高系統韌性。並且建立傳承文檔，將伺服器完整傳承給予學弟妹使用。<br>
另外，由於青島OJ系統先天的缺陷，AaW 也架設了 CMS 比賽系統來主持學術上機考。並且開始研究將OJ轉移到其他系統上。
</div>

<h5>建北電資26屆（一二）</h5>
<div class="well">
<blockquote>
FN花了12個小時就把某人拖了很久的OJ架了出來，實在有夠牛逼!
因此身為本OJ的第一題，請你輸出一行宣揚FN做事的效率!<br>
--- FN與他的OJ, 原 ISCOJ 4444 題序
</blockquote>
由 FN 以及 lemonilemon 學長架設青島OJ系統。在OJ剛架設的前幾個月，一二的學長們出了大量優質題目，
並且將平台初取名為 FN & Lemonilemon Judge。後來幾經改名，卻仍無法定名。
然而，由於架設倉促，該系統時常當機，十分不穩定。
</div>


<h5>緣起</h5>
<div class="well">
一直以來，建北電資皆有架設OJ平台的需求。原先百九學術長裘莉便已經使用簡易的自架主機主持上機考，百十以及一一也曾經使用社辦的伺服器架設青島OJ系統。
但是，隨著社辦伺服器被學校沒收，比賽平台便沒了著落。在一一時期，只能先將上機考改於 codeforces 平台上舉行。
於是，一二接幹之後，在北資雪溱老師的協助下，便開始嘗試於北一女提供的伺服器架設OJ。
</div>

