$navbar-nav-link-padding-x: 1.125rem;
$body-bg: #E6EBF0;
$link-decoration: none;
$link-hover-decoration: none;

$headings-font-weight: 700;

@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "./font";
@import "./tagsinput";


#page-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.page-header {
  margin: 10px 0 15px;
}

/* tabs for problem settings */
.card.panel-problem-settings {
  background-color: #f0f3f5;
  border-color: #96a3b7;
}
.panel-problem-settings > .card-header {
  background-color: #6683b7;
  padding: 5px 10px 0 10px;
}
.panel-problem-settings .nav-tabs {
  border: none;
}
.panel-problem-settings .nav-tabs > li.active > a {
  background-color: #f0f3f5;
  color: #555555;
}
.panel-problem-settings .nav-tabs > li > a {
  color: #f0f3f5;
}
.panel-problem-settings .nav-tabs > li > a:hover {
  color: #555555;
}

/*
require bootstrap
require bootstrap-select
require flat-ui
                                                          
require_tree .
stub active_admin
stub prism
require_self
                                                          
require tablesorter/dist/css/theme.blue
require tablesorter/dist/css/jquery.tablesorter.pager.min
                                                          
require animate.css/animate.min
                                                          
require blueimp-file-upload/css/jquery.fileupload
require blueimp-file-upload/css/jquery.fileupload-ui
*/
