@import "./font";
@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

@import "tom-select/dist/scss/tom-select.bootstrap5";

@import "./components/slider";
@import "./components/panel-problem-settings";
@import "./components/btn-xs";
@import "./components/verdicts";

// @import "./components/copy-btn";
@import "./contests";

#page-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.page-header {
  margin: 10px 0 15px;
}
.page-header small {
  color: #30617C;
}

.motto {
  max-width: 50rem;
  max-height: 10rem;
  overflow: hidden;
}

a.bi-question-circle-fill:hover {
  color: #1abc9c !important;
}

// monospace form inputs
.code-input {
  font-family: "monofont";
}

h1 h2 h3 h4 h5 h6 {
  color: #948C75;
}


/*
require bootstrap
require bootstrap-select
require flat-ui
                                                          
require_tree .
stub active_admin
stub prism
require_self
                                                          
require tablesorter/dist/css/theme.blue
require tablesorter/dist/css/jquery.tablesorter.pager.min
                                                          
require animate.css/animate.min
                                                          
require blueimp-file-upload/css/jquery.fileupload
require blueimp-file-upload/css/jquery.fileupload-ui
*/
