@font-face {
  font-family: "monofont";
  src: url("/fonts/DejaVuSansMono.ttf");
}
.page-header small {
  color: #30617C;
}
body {
  background-color: #E6EBF0;
}
h1 h2 h3 h4 h5 h6 {
  color: #948C75;
}
.btn-primary {
  background-color: #1abc9c;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #5ed0b9;
}
.a {
  background-color: #99B2B7;
}
.code-input {
  font-family: "monofont";
}
.text-nowrap {
  white-space: nowrap;
}
.no-display {
  display: none;
}

tr.ole > td {
  background-color: #F3E6FC;
}
.text-ole {
  color: #7C18C4;
}
.panel-ole > .panel-heading {
  color: #4E2A69;
  background-color: #F3E6FC;
  border-color: #E4C5FC;
}
.panel-ole {
  border-color: #E4C5FC;
}
tr.sig > td {
  background-color: #FCE9CF;
}
.text-sig {
  color: #F08A05;
}
.panel-sig > .panel-heading {
  color: #805926;
  background-color: #FCE9CF;
  border-color: #F0D4AD;
}
.panel-sig {
  border-color: #F0D4AD;
}
tr.mle > td {
  background-color: #F1F2D0;
}
.text-mle {
  color: #A4A832;
}
.panel-mle > .panel-heading {
  color: #6F7301;
  background-color: #F1F2D0;
  border-color: #D9DB93;
}
.panel-mle {
  border-color: #D9DB93;
}
tr.ce > td {
  background-color: #EEEEEE;
}
.panel-ce > .panel-heading {
  background-color: #E0E0E0;
  border-color: #C0C0C0;
}
.panel-ce {
  border-color: #C0C0C0;
}
