@font-face {
  font-family: "monofont";
  src: url("SF-Pro.ttf");
}

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
  .invisible-for-phone {
    visibility: hidden;
  }
  #page-content {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

.btn-success {
  background-color: rgb(88,185,158);
}
.btn-info {
  background-color: rgb(82,151,214);
}
.btn-info:hover {
  background-color: rgb(82,151,214,0.75);
}

.btn-inverse {
  background-color: rgb(102,125,138);
}
.btn-inverse:hover {
  background-color: rgb(102,125,138,0.75);
}

.btn-default {
  background-color: rgb(152,165,166);
}
.btn-default:hover {
  background-color: rgb(152,165,166,0.75);
}

.well {
  background-color: #f3f6fb  ;
}
th {
  background-color: #f3f6fb  !important;
}
.page-header small {
  color: #30617C;
}
body {
  font-family: "monofont";
  background-color: #dde4ef;
  text-overflow: ellipsis;
}
td {
  background-color: #f3f6fb   !important;
}

.well-lg .table {
  width: 100%;
}
h1 h2 h3 h4 h5 h6 {
  font-family: "monofont";
  color: #948C75;
}
.navbar-toggle {
  padding-top: 0px !important;
}

.btn-primary {
  background-color: #88C0D0;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #67b7ce;
}
.a {
  background-color: #99B2B7;
}
.code-input {
  font-family: "monofont";
}

/* navbar patch */
@media (min-width: 767px) {
  .navbar-brand {
    padding: 13px 42px;
  }
}
@media (max-width: 767px) {
  .navbar-text {
    padding: 7px 21px;
  }
}



/* tabs for problem settings */
.panel.panel-problem-settings {
  background-color: #f0f3f5;
  border-color: #96a3b7;
}
.panel-problem-settings > .panel-heading {
  background-color: #6683b7;
  padding: 5px 10px 0 10px;
}
.panel-problem-settings .nav-tabs {
  border: none;
}
.panel-problem-settings .nav-tabs > li.active > a {
  background-color: #f0f3f5;
  color: #555555;
}
.panel-problem-settings .nav-tabs > li > a {
  color: #f0f3f5;
}
.panel-problem-settings .nav-tabs > li > a:hover {
  color: #555555;
}

/* slider (dashboard) */
.ui-slider {
  background: #f5f5f5;
}

/* Prism fix */
.line-numbers span.line-numbers-rows {
  top: -2.2px;
}
div.code-toolbar > .toolbar > .toolbar-item > button.copy-to-clipboard-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 3px 10px;
  font-size: 18px;
  margin: 6px 6px 0 0;
}
pre.code-block[class*="language-"] {
  font-size: 14px;
}

/* helper classes */
.text-nowrap {
  white-space: nowrap;
}
.no-display {
  display: none;
}
.inline-block {
  display: inline-block;
}
.table-align-middle td {
  vertical-align: middle !important;
}
.align-middle {
  vertical-align: middle !important;
}
.motto {
  max-width: 50rem;
  max-height: 10rem;
  overflow: hidden;
}

/* misc */
label.checkbox.checked { /* not change label color when checkbox is checked */
  color: unset;
}
a.glyphicon-question-sign:hover {
  color: #5dbdaa !important;
}
small {
  line-height: 1.4;
}
tr.ole > td.highlight-if-self { /* dashboard self */
  font-weight: bold;
  color: #7C18C4;
}
#page-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.page-header {
  margin: 10px 0 15px;
}
.button-checkbox > .btn { /* compiler checkboxes */
  margin-bottom: 0.5em;
}

/* bootstrap 5 auto row */
.bs5-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.bs5-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.bs5-col {
  flex: 1 0 0%;
}
.bs5-col-auto {
  flex: 0 0 auto;
  width: auto;
}
@media (min-width: 992px) {
  .bs5-col-lg {
    flex: 1 0 0%;
  }
  .bs5-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
}

.navbar-nav li a:hover {
  color: #AFD8D6 !important;
 
}

.navbar-nav li a {
  color: #effafa !important;
}

.navbar-center {
  flex: 2; /* 中间部分占据更多的空间 */
  text-align: center; /* 中间内容居中 */
}

.navbar-center ul {
  list-style: none; /* 去掉列表样式 */
  padding: 0;
  margin: 0;
  display: inline-block; /* 使其居中 */
}

.navbar-center li {
  display: inline; /* 水平排列 */
  margin: 0 15px; /* 间距 */
}