@font-face {
  font-family: "monofont";
  src: url("/fonts/DejaVuSansMono.ttf");
}
.page-header small {
  color: #30617C;
}
body {
  background-color: #E6EBF0;
}
h1 h2 h3 h4 h5 h6 {
  color: #948C75;
}
.btn-primary {
  background-color: #1abc9c;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #5ed0b9;
}
.a {
  background-color: #99B2B7;
}
.code-input {
  font-family: "monofont";
}
.text-nowrap {
  white-space: nowrap;
}
.no-display {
  display: none;
}

/* navbar patch */
@media (min-width: 767px) {
  .navbar-brand {
    padding: 13px 42px;
  }
}
@media (max-width: 767px) {
  .navbar-text {
    padding: 7px 21px;
  }
}

/* slider */
.ui-slider {
  background: #f5f5f5;
}

/* Prism fix */
.line-numbers span.line-numbers-rows {
  top: -2.2px;
}
div.code-toolbar > .toolbar > .toolbar-item > button.copy-to-clipboard-button {
	background-color: #3498db;
	color: #ffffff;
	padding: 3px 10px;
	font-size: 18px;
	margin: 6px 6px 0 0;
}
pre.code-block[class*="language-"] {
  font-size: 14px;
}

/* misc */
label.checkbox.checked {
  color: unset;
}
a.glyphicon-question-sign:hover {
  color: #1abc9c !important;
}
.motto {
  max-width: 50rem;
  max-height: 10rem;
  overflow: hidden;
}
.table-align-middle td {
  vertical-align: middle !important;
}
.align-middle {
  vertical-align: middle !important;
}
small {
  line-height: 1.4;
}
tr.ole > td.highlight-if-self { /* dashboard self */
  font-weight: bold;
  color: #7C18C4;
}
#page-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.page-header {
  margin: 10px 0 15px;
}

/* bootstrap 5 auto row */
.bs5-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.bs5-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.bs5-col {
  flex: 1 0 0%;
}

.bs5-col-auto {
  flex: 0 0 auto;
  width: auto;
}

@media (min-width: 992px) {
  .bs5-col-lg {
    flex: 1 0 0%;
  }
  .bs5-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
}