@font-face {
  font-family: "monofont";
  src: url("/fonts/DejaVuSansMono.ttf");
}
.page-header small {
  color: #30617C;
}
body {
  background-color: #E6EBF0;
}
h1 h2 h3 h4 h5 h6 {
  color: #948C75;
}
.btn-primary {
  background-color: #1abc9c;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #5ed0b9;
}
.a {
  background-color: #99B2B7;
}
.code-input {
  font-family: "monofont";
}
.text-nowrap {
  white-space: nowrap;
}
.no-display {
  display: none;
}

/* verdicts */
tr.ole > td {
  background-color: #F3E6FC;
}
.text-ole {
  color: #7C18C4;
}
.panel-ole > .panel-heading {
  color: #4E2A69;
  background-color: #F3E6FC;
  border-color: #E4C5FC;
}
.panel-ole {
  border-color: #E4C5FC;
}
tr.sig > td {
  background-color: #FCE9CF;
}
.text-sig {
  color: #F08A05;
}
.panel-sig > .panel-heading {
  color: #805926;
  background-color: #FCE9CF;
  border-color: #F0D4AD;
}
.panel-sig {
  border-color: #F0D4AD;
}
tr.mle > td {
  background-color: #F1F2D0;
}
.text-mle {
  color: #A4A832;
}
.panel-mle > .panel-heading {
  color: #6F7301;
  background-color: #F1F2D0;
  border-color: #D9DB93;
}
.panel-mle {
  border-color: #D9DB93;
}
tr.ce > td {
  background-color: #EEEEEE;
}
.panel-ce > .panel-heading {
  background-color: #E0E0E0;
  border-color: #C0C0C0;
}
.panel-ce {
  border-color: #C0C0C0;
}

/* slider */
.ui-slider {
  background: #f5f5f5;
}

/* misc */
label.checkbox.checked {
  color: unset;
}
a.glyphicon-question-sign:hover {
  color: #1abc9c !important;
}
.motto {
  max-width: 50rem;
  max-height: 10rem;
  overflow: hidden;
}
.table-align-middle td {
  vertical-align: middle !important;
}
.align-middle {
  vertical-align: middle !important;
}
small {
  line-height: 1.4;
}

/* bootstrap 5 auto row */
.bs5-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.bs5-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.bs5-col {
  flex: 1 0 0%;
}

.bs5-col-auto {
  flex: 0 0 auto;
  width: auto;
}

@media (min-width: 992px) {
  .bs5-col-lg {
    flex: 1 0 0%;
  }
  .bs5-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
}