.problem-copy-group .panel-heading {
	overflow: auto;
	padding-top: 7px;
	padding-bottom: 7px;
}

.problem-copy-group .panel-heading .panel-title {
	font-weight: 700; 
	width: 75%; 
	padding-top: 5px; 
	font-size: 16px;
}

.problem-copy-group .panel-heading .copy-group-btn {
	padding-top:5px; 
	padding-bottom:5px; 
	font-size:14px
}
